body{
	text-align: center;
}
.btn{
	border: solid 3px #9fffff;
	width: 100px;
	height: 100px;
	display: inline;
	font-size: 30px;
	color: #5d385e;
	background-color: white;
}
h1{
	border: solid 3px #9fffff;
	width: 100px;
	height: 100px;
	display: inline;
	font-size: 30px;
	color: #5d385e;
	background-color: white;
}